<ion-app>
  <app-home></app-home>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <div>
      <ion-fab-button (click)="addTask()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </div>
  </ion-fab>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-buttons fxLayoutAlign="space-between center">
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>