<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Finished Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Finished Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list (ionItemReorder)="doReorder($event)" disabled="false" *ngFor="let todo of todos">
        <ion-item>
          <ion-label>{{ todo.payload.doc.data().date.toMillis() | date:'dd.MM.yyyy HH:mm:ss' }} | {{ todo.payload.doc.data().title }}</ion-label>
          <div *ngIf="todo.payload.doc.data().status">
            <ion-buttons slot="end">
              <ion-button (click)="updateToDo(todo.payload.doc.id)" shape="round" fill="clear">
                <ion-icon slot="icon-only" name="radio-button-off"></ion-icon>
              </ion-button>
            </ion-buttons>
          </div>
        </ion-item>
    </ion-list>
  </div>
</ion-content>