<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add a New Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="todoForm">
      <ion-item>
        <ion-label for="title" position="floating">Task Name</ion-label>
        <ion-input formControlName="title" id="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="date">Pick a Date</ion-label>
        <ion-datetime formControlName="date" id="date" displayFormat="YYYY-MM-DD"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label for="date">Pick a Time</ion-label>
        <ion-datetime formControlName="time" id="time" displayFormat="HH:MM"></ion-datetime>
      </ion-item>
      <ion-button type="submit">Create Task</ion-button>
    </form>
  </div>
</ion-content>