<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      My Tasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">My Tasks</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <ion-reorder *ngFor="let todo of lastCreatedFiveTodos">
        <ion-item>
          <ion-label>{{ todo.payload.doc.data().date.toMillis() | date:'dd.MM.yyyy HH:mm:ss' }} | {{ todo.payload.doc.data().title }}</ion-label>
        </ion-item>
      </ion-reorder>
    </ion-reorder-group>
  </div>
</ion-content>
