<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add a New Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div>
    <form (ngSubmit)="onSubmit()" [formGroup]="todoForm">
      <ion-item>
        <ion-label for="title" position="floating">Task Name</ion-label>
        <ion-input formControlName="title" id="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="details" position="floating">Details</ion-label>
        <ion-input formControlName="details" id="details"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label for="date">Pick a Date</ion-label>
        <!-- <ion-datetime displayFormat="YYYY-MM-DDTHH:mm" formControlName="date" id="date"></ion-datetime> -->
        <ion-datetime displayFormat="D MMM YYYY H:mm" min="2018"></ion-datetime>
      </ion-item>
      <ion-button type="submit">Save</ion-button>
    </form>
  </div>
</ion-content>